@page "/"

@using System.Text.Json
@using System.Text.Json.Serialization;
@inject IHttpClientFactory ClientFactory

<style>
table, th, tr {
  border: 1px solid black;
  width: 500px;
}

th, tr {
  padding: 2em;
}
.uniData{
  padding: 1em;
}
</style>

<input type="text" placeholder="Search.."  @bind-value="SearchText"
           @bind-value:event="oninput" />


@if (getUniErr)
{
    <p>Issue with obtaining University listings</p>
}
else
{
   @foreach (var university in FilteredUnis)
   {   
        <div class="uniData">
          <table>
            <tr><h4>University Name: </h4> @university.Name</tr>
            <tr><h4>Country: </h4> @university.Country</tr>
            <tr><h4>Country Code: </h4> @university.Code</tr>
          </table>
        </div>   
   }
}

@code {
    private IEnumerable<University> unis = Array.Empty<University>();
    private bool getUniErr;
    private bool render;
    public String filter = "Ireland";
    public String SearchText = "";
    protected override bool ShouldRender() => render;
    private String apiUrl = "http://universities.hipolabs.com/search?country=";

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
            apiUrl + filter);
        request.Headers.Add("Accept", "application/vnd.github.v3+json");
        request.Headers.Add("User-Agent", "HttpClientFactory-Sample");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            unis = await JsonSerializer.DeserializeAsync
                <IEnumerable<University>>(responseStream);
        }
        else
        {
            getUniErr = true;
        }
            render = true;
    }
    List<University> FilteredUnis => unis.Where(
            university => university.Name.ToLower().Contains(SearchText.ToLower())).ToList();

    public class University
    {
        [JsonPropertyName("country")]
        public string Country { get; set; }

        [JsonPropertyName("state-province")]
        public string State { get; set; }
                    
        [JsonPropertyName("web_pages")]
        public string[] Web { get; set; }
                    
        [JsonPropertyName("alpha_two_code")]
        public string Code { get; set; }
                    
        [JsonPropertyName("name")]
        public string Name { get; set; }
                    
        [JsonPropertyName("domains")]
        public string[] Domain { get; set; }
    }
}